page-home {
    background-color:white;
 
    ion-img{
        margin-top:50px;
        margin-left: 32%;
    }
    ion-list{
        padding-top:50px;
        width:100%;
    }
    .btn{
        width:90%;
        margin-top:35px;
        margin-left:5%;
        background-color:orangered;
        
    }
    a{
       float:left;
       text-decoration: none;
       position: relative;
       font-weight: bolder;
       font-size: 15px;
    }
    .find{
        margin-left: 18px;
    }
    .register{
        float: right;
        margin-right:20px;
    }

}
