page-infor {
   ion-title{
       margin-left:40%;
   }
   .list-avatar-page {
    ion-note {
      font-size: 12px;
      align-self: flex-start;
      margin-top: 14px;
    }
    .it6{
        border-bottom:1px solid #edebeb;
    }
  }
}
