page-set {
    ion-title{
        margin-left: 30%;
    }
    ion-item{
        font-family: "黑体";
        font-size: 18px;
    }
    ion-list{
        border-top:1px solid #c8c7cc;
        border-bottom:1px solid #c8c7cc;
    }
    .btn1{
        font-family: "黑体";
        font-size: 18px;
        width:50%;
        margin-left: 25%;

    }
}
